<h1>About</h1>
<p>This is a advanced todo list website using Express and MongoDB</p>
<p>Author: Jacz admin@jaczaus.me </p>
<p>Version: 2.0.0</p>
<h1>Contact Us</h1>
<a href="https://discord.gg/J8AqH4A">Discord Server</a>
<br>
<a href="mailto:admin@jaczaus.me">Email: admin@jaczaus.me</a>



