<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Allows you to have a todo list in private click the buttom below to add a item to the todo list</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add todo item</a>
</div>